.custom-navbar {
  background-color: transparent !important; /* Important to override Bootstrap styles */
}
.active-link {
  background-color: #E6F7FF !important;
  color: #1686AA !important;
  border-radius: 45%;
}
